@media  screen and ( max-width:576px) {
    .banner, nav
    {
        flex-direction: column;
    }
    .list{
        gap: 5px;
    margin-left: 0;}
    .card-box{
        display: grid;
        grid-template-columns: repeat(1,1fr);}

}